@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, bumblebee;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.search-container {
  height: 420px;
  width:500px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  background-color: white;
  border-radius: 24px;
}
